# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/PrisonersDilemma/.vs/PrisonersDilemma/v15
/PrisonersDilemma/PrisonersDilemma/Debug
/PrisonersDilemma/PrisonersDilemma/x64/Debug
/PrisonersDilemma/PrisonersDilemma/x64/Release
/.vs
